@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: white;
    font-family: 'Questrial', sans-serif;
    margin: auto;
}

/* Nav Styles */

#nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0px 10px;
}

.nav-list-item a {
    text-decoration: none;
    color: black;
}

.nav-list-item a:hover {
    font-size: 18px;
    font-weight: bold;
}

#header-img {
    width: 10%;
}

@media (max-width: 650px) {
    #nav-bar {
        align-items: space-between;
        font-size: 0.75em;
        
    }
    .nav-list {
        flex-direction: column;
        margin: 5px 0px;
        width: 20%;
    }
    .nav-list-item a:hover {
        font-size: 1em;
    }
    #header-img {
        width: 25%;
    }
}

/* Intro Styles */

#intro-section {
    text-align: center;
    background-color: white;
    font-size: 1.3rem;
}

#intro-section h1 {
    margin: 0;
    padding: 20px 0px;
}

@media (max-width: 650px) {
    #intro-section h1 {
        font-size: 1.2rem;
        padding: 10px 0px;
    }
}

/* Ignis Mk3 Section */

#ignis-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 20px 10px;
}

#new-ignis-description {
    width: 35%;
}

#ignis-mk3-image {
    width: 30%;
}

/* Features Styles */

#features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 20px 0px;
    width: 100%;
}

.feature-item {
    width: 20%;
    margin: 0px 15px;
    text-align: center;
    background-color: rgb(222, 222, 222);
}

.feature-item h3 {
    margin: 14px 0px 12px 0px;
}

.feature-description {
    padding: 0px 20px;
    margin: 13px 0px;
}

@media (max-width: 650px) {
    #features {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        font-size: 0.75rem;
    }
    .feature-item {
        width: 90%;
        margin: 10px 0px;
    }
}

/* Video Styles */

#video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 38, 69);
    padding: 40px 0px;
    color: white;
}

#video-section h3 {
    margin: 0px 0px 10px 0px;
    font-size: 1.6rem;
}

#video-description {
    text-align: center;
}

@media (max-width: 650px) {
    #video-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #video-description {
        width: 85%;
    }
    #video {
        width: 90%;
    }
}

/* Pricing Styles */

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding: 30px 0px;
}

.pricing-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    background-color: rgb(222, 222, 222);
    align-items: center;
}

.pricing-item h3 {
    margin: 20px 0px 0px 0px;
    font-size: 1.6rem;
}

.key-features-list {
    list-style-type: none;
    padding: 5px;
    width: 80%;
}

.key-features-list li {
    padding: 5px 0px;
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
}

#enquire {
    background-color: #ffa500;
    border-radius: 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    margin: 0px 0px 15px 0px;
    outline: none;
    padding: 10px 16px;
}

#enquire a {
    text-decoration: none;
    color: black;
}

@media (max-width: 650px) {
    #pricing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        font-size: 0.75rem;
    }
    .pricing-item {
        width: 90%;
        margin: 10px 0px;
    }
}

/* History Styles */

#history-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#history-title {
    font-size: 2rem;
}

#ignis-mk1, #ignis-sport {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ignis-description {
    width: 40%;
}

#ignis-mk1 img, #ignis-sport img {
    width: 30%;
}


/* Contact Form Styles */

#contact {
    background-color: rgb(0, 38, 69);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#contact-form-container h3 {
    color: white;
    margin: 0;
    padding: 0px 0px 10px 0px;
    text-align: center;
    font-size: 1.6rem;
}

#contact-form {
    display: flex;    
    flex-direction: column;
    align-items: center;
}
#contact-form-container {
    padding: 15px;
    width: 35%;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Questrial', sans-serif;
}

input[type="submit"] {
    background-color: #ffa500;
    border: none;
    padding: 12px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea {
    font-family: 'Questrial', sans-serif;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    margin: 8px 0px;
    resize: none;
  }

#contact-address-container {
    font-size: 2rem;
}

#address-details {
    color: white;
    list-style-type: none;
    padding: 0;
}

#address-details li {
    padding: 15px 0px;
}

#address-details li i {
    padding: 0px 4px;
}

/* Footer Styles */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 15px 0px 0px 0px;
    margin: 0;
    width: 30%;
}

.footer-list a {
    color: black;
    padding: 0px 10px;
}

#copyright a {
    padding: 0px 5px;
    color: black;
}

@media (max-width: 650px) {
    .footer-list {
        width: 80%;
    }
}