@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: white;
    font-family: 'Questrial', sans-serif;
    margin: auto;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0px 10px;
}

.nav-list-item a {
    text-decoration: none;
    color: black;
}

.nav-list-item a:hover {
    font-size: 18px;
    font-weight: bold;
}

#header-img {
    width: 15%;
}

#intro-section {
    text-align: center;
    background-color: red;
}

#intro-section h1 {
    margin: 0;
    padding: 20px 0px;
}

#shop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: yellow;
    padding: 20px 0px;
}

.shop-item {
    width: 25%;
    text-align: center;
    background-color: pink;
}

.shop-item-description {
    padding: 0px 10px;
}

#video-section {
    display: flex;
    justify-content: space-evenly;
    background-color: cyan;
    padding: 20px 10px;
}

#video-description {
    width: 40%;
}
