@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: white;
    font-family: 'Questrial', sans-serif;
    margin: auto;
}

/* Nav Styles */

#nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0px 10px;
}

.nav-list-item a {
    text-decoration: none;
    color: black;
}

.nav-list-item a:hover {
    font-size: 18px;
    font-weight: bold;
}

#header-img {
    width: 15%;
}

@media (max-width: 650px) {
    #nav-bar {
        align-items: space-between;
        font-size: 0.75em;
        
    }
    .nav-list {
        flex-direction: column;
        margin: 5px 0px;
        width: 20%;
    }
    .nav-list-item a:hover {
        font-size: 1em;
    }
    #header-img {
        width: 25%;
    }
}

/* Intro Styles */

#intro-section {
    text-align: center;
    background-color: white;
    font-size: 1.3rem;
}

#intro-section h1 {
    margin: 0;
    padding: 20px 0px;
}

@media (max-width: 650px) {
    #intro-section h1 {
        font-size: 1.2rem;
        padding: 10px 0px;
    }
}

/* Ignis Mk3 Section */

#ignis-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 20px 10px;
}

#ignis-description {
    width: 40%;
}

#ignis-mk3-image {
    width: 40%;
}

/* Features Styles */

#features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: yellow;
    padding: 20px 0px;
}

.feature-item {
    width: 25%;
    text-align: center;
    background-color: pink;
}

.feature-description {
    padding: 0px 10px;
}

@media (max-width: 650px) {
    #features {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        font-size: 0.75rem;
    }
    .feature-item {
        width: 90%;
        margin: 10px 0px;
    }
}

/* Video Styles */

#video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cyan;
    padding: 30px;
}

#video-section h3 {
    margin: 0px 0px 10px 0px;
}

#video-description {
    text-align: center;
}

@media (max-width: 650px) {
    #video-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #video-description {
        width: 85%;
    }
    #video {
        width: 90%;
    }
}

/* Subscribe Styles */

#subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background-color: orange;
}

#subscribe-section h3 {
    margin: 0;
}

#form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

#form input {
    margin: 5px 0px;
}

#email {
    width: 80%;
}

#submit {
    width: 25%;
}

@media (max-width: 650px) {
    #form {
        width: 70%;
    }
}

/* Footer Styles */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 15px 0px 0px 0px;
    margin: 0;
    width: 30%;
}

.footer-list a {
    color: black;
    padding: 0px 10px;
}

#copyright a {
    padding: 0px 5px;
    color: black;
}

@media (max-width: 650px) {
    .footer-list {
        width: 80%;
    }
}